@{
  Layout = "_Layout";
}

@using Claires_Salon.Models
@model Claires_Salon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName) <h3>
<h4>Clients:</h4>
@foreach (Client client in Model.Clients)
{
  <li>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId }) </li>
}



<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>